*{
    padding: 0;
    margin: 0;

}
/*akshaytest*/
.Wrapper{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.Navbar{
    width: 100%;
    height: 100px;
    margin-right:8%;
    display: flex;
}
a{
    color: aliceblue;
    text-decoration:none;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.Navbar li{
    margin-left: 2%;
    margin-top: 3%;
    
}
.navlist{
    width: 60%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;   
    margin-right:8%;
}
.Header{
    height: 40%;
    width: 100%;
    color: rgb(197, 118, 14);
    margin-left: 8%;
}
.Header img{
    height: 100%;
    width: 10%;
    margin-right: 10%;
    
}
h2{
    color: aliceblue;
    margin-top: 10%;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
